/* You can add global styles to this file, and also import other style files */
@import "./assets/fonts/Vazirmatn/Vazirmatn-font-face.css";
@import "./assets/fonts/Vazirmatn/Ui/Vazirmatn-Ui-font-face.css";
@import "@mdi/font/css/materialdesignicons.css";

body {
  margin: 0;
  padding: 0;
  font-family: Vazirmatn, "sans-serif" !important;
  background-image: url(./assets/image/Simple\ Shiny.svg);
}
